{% extends 'base.html' %}

{% block content %}
    <main>
        <section class="my-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h1 class="text-center my-4">Inscrivez-vous</h1>
                        <form method="post">
                            <div class="container">
                                <div class="row">
                                    <div class="col-8 offset-2 text-center">
                                        {% csrf_token %}
    
                                        {% for field in form %}
                                            <p class="form-floating">
                                                {{ field }}
                                                <label for="{{ field.id_for_label }}">{{field.label}}</label>
                                            </p>
                                            <div class="text-danger">
                                                {{ field.errors }}
                                            </div>
                                                
        
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                            <div class="offset-7">
                                <a class="btn btn-primary mx-5" href="{% url 'home' %}" role="button" >Retourner</a>
                                <button type="submit" class="btn btn-primary">S’inscrire</button>
                            </div>
    
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </main>
    

{% endblock content %}