{% load static %}
{% load blog_tools %}


<div class="container">
    <div class="row">
        <div class="col-8">
            <p>{% user_display review.user %} publié une critique</p>
        </div>

        <div class="col-4 text-end">
            <p>{{ instance.date_created|show_date_of_ticket }}</p>
        </div>

        {% if review.rating == 0 %}
            <h2>{{ review.headline }} - 
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </h2>
        {% elif review.rating == 1 %}
            <h2>{{ review.headline }} - 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </h2>
        {% elif review.rating == 2 %}
            <h2>{{ review.headline }} - 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </h2>
        {% elif review.rating == 3 %}
            <h2>{{ review.headline }} - 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
                <i class="bi bi-star"></i>
            </h2>
        {% elif instance.rating == 4 %}
            <h2>{{ instance.headline }} - 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star"></i>
            </h2>
        {% elif review.rating == 5 %}
            <h2>{{ review.headline }} - 
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
                <i class="bi bi-star-fill"></i>
            </h2>
        {% endif %}
        <h3>{{ review.body }}</h3>
    </div>
</div>