{% extends 'base.html' %}
{% block content %}
<main>
    <section>
        <div class="container">
            <div class="row">
                <div class="col text-center m-5">
                    <form method="post">
                        {% csrf_token %}
                        <h1 class="col my-5">Voulez vous supprimer votre critique: {{ object.headline }} ? </h1>
                        <div>                            
                            <a href="{% url 'posts' %}" class="btn btn-primary">Revenir</a>
                            <button type="submit" class="btn btn-danger">Supprimer</button>
                        </div> 
                        
                    </form>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock content %}