{% extends 'base.html' %}
{% block content %}
<main>
    <section class="m-5">
        <div class="container">
            <div class="row">
                <div class="col-11">
                    <h1 class="text-center my-4">Suivre d'autres utilisateurs</h1>
                </div>
            </div>
        </div>
        
        <form method="post">
            <div>
                <div class="container">
                    <div class="row">
                        <div class="col-8 offset-1">
                            {% for field in form_add %}
                                {% csrf_token %}
                                <div>
                                    {% if field.id_for_label != "id_add_follower" %}
                                        <label class="visually-hidden" for="{{ field.id_for_label }}">{{ field.label }}</label>
                                    {% endif %}
                                    {{ field }}
                                </div>
                                {% if field.errors %}
                                    <div class="alert alert-danger d-flex align-items-center my-2   " role="alert">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-exclamation-triangle-fill flex-shrink-0 me-2" viewBox="0 0 16 16" role="img" aria-label="Warning:">
                                            <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                                        </svg>
                                        <div>
                                            {% for error in field.errors %}
                                                {{ error }}
                                            {% endfor %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                        </div>
                        <div class="col-2">
                            <button type="submit" class="btn btn-primary">Envoyer</button>
                        </div> 
                    </div>
                </div>
            </div>
        </form>
    </section>

    <section class="m-5">
        {% if following %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">Abonnements</h2>
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="w-75 text-center">Utilisateur</th>
                                <th scope="col" class="text-center">Action</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for follow in following %}
                                    <tr>
                                        <td class="text-center">{{ follow.followed_user }}</td>
                                        <td class="text-center">
                                            <form method="post">
                                                {% csrf_token %}
                                                <input type="hidden" name="follower_to_remove" value="{{ follow.followed_user }}">
                                                <button type="submit" class="btn btn-primary">Désabonner</button>
                                                {{ form_delete }}
                                            </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">Abonnements</h2>
                        <p class="text-center">Vous ne suivez personne</p>
                    </div>
                </div>
            </div>
           
        {% endif %}
    </section>

    <section class="m-5">        
        {% if followed_by %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">Abonnés</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Utilisateur</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for follower in followed_by %}
                                    <tr>
                                        <td class="text-center">{{ follower.user }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">Abonnés</h2>
                        <p class="text-center">Vous n'avez pas d'abonnés</p>
                    </div>
                </div>
            </div>
            
        {% endif %}
    </section>

    <section class="m-5">        
        {% if followed_by %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">List d'utilisateurs</h2>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <table class="table table-bordered">
                            <thead>
                            <tr>
                                <th scope="col" class="text-center">Utilisateur</th>
                            </tr>
                            </thead>
                            <tbody>
                                {% for user in users %}
                                    <tr>
                                        <td class="text-center">{{ user }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col-11">
                        <hr class="text-primary">
                        <h2 class="text-center mt-5">List d'utilisateurs</h2>
                        <p class="text-center">Il n'y a pas d'autres utilisateur sur ce site</p>
                    </div>
                </div>
            </div>
        {% endif %}
    </section>

    

</main>
{% endblock content %}