{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load blog_tools %}
<main>
    <div>
        <div class="container my-5">
            <div class="row">
                <div class="col-6 text-end">
                    <a class="btn btn-primary" href="{% url 'ask_review' %}" role="button" >Demander une critique</a>
                </div>
                <div class="col-6">
                    <a class="btn btn-primary" href="{% url 'view_create_ticket_and_review' %}" role="button" >Créer une critique</a>
                </div>
            </div>
        </div>
    </div>

    
    <section>
        {% if not page_obj %}
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1>Vous n'avez pas de flux</h1>
                    </div>
                </div>
            </div> 
        {% else %}
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h1>Votre flux:</h1>
                    </div>
                </div>
            </div> 
        {% endif %}
        {% include 'blog/partials/pages_snippet.html' %}
    </section>
    <section>
        {% for instance in page_obj %}
            {% if instance|model_type == "Ticket" %}
            <div class="container border my-4 py-3">
                <div class="row">
                    {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
                    <div class="col-4 text-end">
                        <p>{{ instance.date_created|show_date_of_ticket }}</p>
                    </div>
                </div>
                {% if not instance.review_set.all %}
                    <div class="row">
                        <div class="col text-end">
                            <a class="btn btn-primary mt-4" href="{% url 'view_create_review' instance.id %}" role="button" >Créer une critique</a>
                        </div>
                    </div>
                {% endif %}
            </div>
            {% elif instance|model_type == 'Review' %}
                <div class="container border my-4 py-3">
                    <div class="row">
                        <div class="col">
                            {% include 'blog/partials/review_snippet.html' with review=instance %}
                            
                            <div class="container border my-4 py-3">
                                <div class="row">
                                    {% include 'blog/partials/ticket_snippet.html' with ticket=instance.ticket %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>

    {% include 'blog/partials/pages_snippet.html' %}
</main>
{% endblock content %}