{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load blog_tools %}
<main>
    <section>
        {% for instance in tickets_and_reviews %}
            {% if instance|model_type == "Ticket" %}
            <div class="container border my-4 py-3">
                <div class="row">
                    {% include 'blog/partials/ticket_snippet.html' with ticket=instance %}
                    <div class="col-4 text-end">
                        <h4>{{ instance.date_created|show_date_of_ticket }}</h4>
                    </div>
                </div>
                <div class="row">
                    <div class="col d-block text-end">
                        {% if not instance.review_set.all %}
                            <a class="btn btn-primary mt-4" href="{% url 'view_create_review' instance.id %}" role="button" >Créer une critique</a>
                        {% endif %}
                        <a class="btn btn-primary mt-4" href="{% url 'update_ticket' instance.id %}" role="button" >Modifier</a>
                        <a class="btn btn-danger mt-4" href="{% url 'delete_ticket' instance.id %}" role="button" >Supprimer</a>
                    </div>
                </div>
            </div>
            {% elif instance|model_type == 'Review' %}
                <div class="container border my-4 py-3">
                    <div class="row">
                        <div class="col">
                            {% include 'blog/partials/review_snippet.html' with review=instance %}
                            <div class="container border my-4 py-3">
                                <div class="row">
                                    {% include 'blog/partials/ticket_snippet.html' with ticket=instance.ticket %}
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-block text-end">
                            <a class="btn btn-primary mt-4" href="{% url 'update_ticket_and_review' instance.id %}" role="button" >Modifier</a>
                            <a class="btn btn-danger mt-4" href="{% url 'delete_review' instance.id %}" role="button" >Supprimer</a>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </section>
{% endblock content %}