
{% load static %}
<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>web_app</title>
        <!-- import bootsrap -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand bg-light">
                
                <div class="w-25 d-flex justify-content-start">
                    {% if user.is_authenticated %}
                    <span class="navbar-brand px-3" >Bienvenue {{ user }}</span>
                    {% endif %}
                </div>
                

                <div class="w-25 d-flex justify-content-end">
                    <a class="navbar-brand" href="{% url 'home' %}">
                        <img src="{% static 'logo_2.png' %}" alt="Logo of LITRevu" width="150" height="50">
                    </a>
                    
                </div>
                <div class="w-50 d-flex justify-content-end">
                    <ul class="nav nav-tabs px-3">
                        {% if user.is_authenticated %}
                            
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/home/' %}active{% endif %}" aria-current="page" href="{% url 'home' %}" style="color: black">Flux</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/home/posts' %}active{% endif %}" aria-current="page" href="{% url 'posts' %}" style="color: black">Post</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link {% if request.path == '/home/followers' %}active{% endif %}" aria-current="page" href="{% url 'followers' %}" style="color: black">Abonnements</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color: black">
                                  Utilisateur
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                  <li><a class="dropdown-item" href="{% url 'password_change' %}" style="color: black">Changer votre mot de passe</a></li>
                                </ul>
                              </li>
                            <li class="nav-item">
                                <a class="nav-link" aria-current="page" href="{% url 'logout' %}" style="color: black">Se deconnecter</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </header>
        {% block content %}{% endblock content %}

        <footer>

        </footer>
        <!-- import bootsrap -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    </body>
</html>